<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Proceso Asíncrono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Nueva Orden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Envía una orden al servidor. El backend responderá inmediatamente y procesará la tarea en segundo plano.</p>
      
      <ion-button expand="block" color="success" class="ion-margin-top" (click)="crearNuevaOrden()" [disabled]="enviando">
        <ion-spinner *ngIf="enviando" name="crescent"></ion-spinner>
        <span *ngIf="!enviando">Procesar Orden (Worker)</span>
      </ion-button>

      <ion-note color="primary" class="ion-margin-top" *ngIf="mensajeRespuesta">
        <p><strong>Respuesta de Flask:</strong> {{ mensajeRespuesta }}</p>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
  