<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lavandería Santrix - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      <ion-text color="danger">
        <small>El usuario es obligatorio (mínimo 3 caracteres).</small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <ion-text color="danger">
        <small>La contraseña es obligatoria (mínimo 4 caracteres).</small>
      </ion-text>
    </div>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="ion-padding-top">{{ errorMessage }}</p>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
      Iniciar Sesión
    </ion-button>
  </form>
</ion-content>

